* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.contc_btn {
    padding: 12px 55px 12px 24px;
    background-color: #ffee02;
    border: none;
    border-color: #ffee02;
    font-weight: 600;
}

/* .contc_btn:hover{
    background-color: transparent;
    color: white;   
} */
.contc_btn::after {
    content: "";
    width: 0;
    height: 100%;
    position: relative;
    top: 33.8px;
    left: 82px;
    border-left: 0 solid transparent;
    border-right: 28px solid transparent;
    border-top: 49.7px solid #ffee02;
}
.new_nav{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
.phone_icon {
    width: 40px;
    height: 67%;
    position: absolute;
    top: 11px;
    right: 142px;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.phone_icon:after {
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transform: skew(-30deg, 0deg);
}

.new_item{
    height: 100vh;
    width: 100%;
}
.new_item img{
    height: 100%;
    object-fit: cover;
}

.owl-carousel .owl-nav .owl-next{
    position: absolute!important;
    top:55%!important;
    right: 10%!important;
    color: white!important;
    font-size: 64px!important;
}
.owl-carousel .owl-nav .owl-prev{
    position: absolute!important;
    top:55%!important;
    right: 19%!important;
    color: white!important;
    font-size: 64px!important;
}
.owl-carousel .owl-nav .owl-prev span{
    position: absolute;
    top: -18px;
    left: 24px;
}
.owl-carousel .owl-nav .owl-next span{
    position: absolute;
    top: -18px;
    left: 24px;
}
.f-slider-one .owl-nav .owl-prev:before,
.f-slider-one .owl-nav .owl-next:before{
    content: "";
    width: 65px;
    height: 80px;
    background: #000;
    border: 2px solid #ffee02;
    transform: skew(-23deg, 0deg);
    display: block;
}
.f-slider-one .owl-item.active:before {
    content: "";
    width: 371px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 3%;
    transform: translateX(-50%) skew(-20deg, 0deg);
    z-index: 1;
    opacity: 0.4;
    background-color: #ffee02;
    animation-name: fadeInTwo;
    animation-duration: 2.3s;
    animation-delay: 0s;
}
.f-slider-one .owl-item.active:after {
    content: "";
    width: 280px;
    height: 550px;
    position: absolute;
    top: 60%;
    right: 1.5%;
    transform: translate(-50%, -50%) skew(-20deg, 0deg);
    z-index: 1;
    background-color: #ffee02;
    animation-name: fadeInThree;
    animation-duration: 2.3s;
    animation-delay: 0s;
}
/* .owl-dots{
    display: none;
} */
.slidhead_1{
    top: 34%;
    position: absolute;
    width: 50%;
    color: white;
    left: 4.2%;
}

@keyframes fadeInTwo{

    0% {
        opacity: 0;
        transform: translateX(-50%) skew(-20deg, 0deg);
    }
    40% {
        opacity: 0;
        transform: translateX(-30%) skew(-20deg, 0deg);
    }
    100% {
        opacity: 0.4;
        transform: translateX(-50%) skew(-20deg, 0deg);
    }
}
@keyframes fadeInThree{
    0% {
        opacity: 0;
    }
    
    40% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
.new_item::before{
content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
}
.padding_top{
    padding: 120px 0;
}
.svg_img img{
    position: relative;
    height: 70px;
    width: 70px;
}
.svg_img{
    position: relative;
    height: 150px;
    width: 140px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg_img:before{
    content: "";
    height: 100%;
    width: 100%;
    border: 1px solid #ffee02;
    background-color: white;
    transform: skew(-20deg, 0deg);
    position: absolute;
    top: 0;
    left: 0;
}
.services_be:hover .svg_img:before{
   background-color:#ffee02;
   /* transform: skew(-20deg, 0deg); */
 
}
.services_be{
    width: 80%;
    margin: auto;
    position: relative;
}
.services_be::before{
    content: "";
    width: 190px;
    height: 370px;
    background: #f7f6f2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) skew(-20deg, 0deg);
    z-index: -1;
}  
.services_be:hover::before{
    background: #fffab3;
}  
.services_be h3{
    font-family: 'Poppins';
    font-weight: bold;
    margin: 50px 0 15px 0;
    text-align: center;
}
.services_be h3 a{
text-decoration: none;
color: #000;
}
.services_be p{
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 30px;
    color: #444;
    font-weight: 400;
    margin: 0 0 15px 0;
}
 .icon_services {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffee02;
text-decoration: none;
color: #444;
    border-radius: 100%;
    margin: auto;
    background: white;
    transform: translateX(-10px);
    opacity: 0;
    visibility: hidden;
}
.services_be:hover .icon_services{
    opacity: 1;
    visibility: visible;
    transform: translateX(2px);
    transition: 0.3s ease-in-out;
}
.provider_img{
    margin-left: 15px;
    margin-bottom: -5%;
}
.back_layer::before{
    content: "";
    width: 275px;
    height: 550px;
    background-color: #ffee02;
    transform: translateX(-50%) skew(-20deg, 0deg);
    position: absolute;
    left: 43%;
    top: -9%;
    z-index: -1;
}
.wel_content span{
    font-size: 16px;
    color: #444;
    font-family: Poppins;
    letter-spacing: 2px;
    font-weight: 900;
}
.wel_content h2{
    font-size: 50px;
    line-height: 60px;
    font-family: Poppins;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2rem;
}
.wel_content .cont{
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 30px;
    color: #444;
    font-weight: 400;
    padding-left: 31px;
    padding-right: 45px;
}
.wel_content img,
.wel_content h3,
.wel_content p{
    padding-left: 31px;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    font-family: poppins;
}
.wrapper{
    overflow: hidden;
}
.project_carosel .owl-dots{
    display: flex;
    justify-content: center;
    align-items: center;
}
.project_carosel button.owl-dot{
    border: 1px solid #c1c1c1;
    width: 50px;
    height: 15px;
    color: transparent;
}
.project_carosel .owl-dots button.active{
    background: black;
    border-color: black;
}
.proj_img{
    height: 400px;
    object-fit: cover;
    padding: 0 0 20px 0;
}
.after_effect{
    height: 594px;
}
.after_effect::before{
    content: "";
    height: 100%;
    width: 28%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffee02;
    transform: skew(-23deg, 0deg);
    z-index: -1;
    overflow: hidden;
}
.pro_data{
    padding: 35px 40px;
    border: 1px solid #c1c1c1;
    background: white;
    width: 90%;
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}